<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>{{t1}} powered by {{t2}}</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="margin: 0px;width:721px;height:93px"></textarea>
    <br>
    <input type="checkbox" name="removepunc">Remove Punctuations
    <br>
    <input type="checkbox" name="uppercase">Upper Case
    <br>
    <input type="checkbox" name="newlineremove">New Line Remove
    <br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>